<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/estilo.css">
    <title>{{ titulo }}</title>
</head>
<body>
<section class="containerexibir">
  <header>{{ titulo }}</header>
</section>
<section class="containerindex">

    <a href="/cadastro"><img class="imagemindex" src='./static/img/cadastro.png'></a>
    <a href="/exibir"><img class="imagemindex" src='./static/img/relatorio.png'></a>

</section>


</body>
</html>